@import 'definitions';
@import "feature/popup";
@import "feature/ui";

@import "structure";
@import "room";

html, body {
  margin: 0;
}
body {
  font-family: Lato, sans-serif;
  color: $FgInterface;
  letter-spacing: .05em;
  font-weight: 300;
  background-color: $BgPrimary;
  @include breakpoint(lowres) { font-size: $FsDesktop; }
  @include breakpoint(hires portrait) { font-size: $FsPortrait; }
  @include breakpoint(hires landscape) { font-size: $FsLandscape; }
}

.Background {
  position: fixed;
  top: -50%; height: 200%; // -sin(deg), 1+2sin(deg)
  left: -90%; width: 280%; // -cos(deg), 1+2cos(deg)
  transform: rotate(30deg);
  background-color: $BgPrimary;
  background-image: url('img/grid_cell.png');
  background-repeat: repeat;
  background-position: center;
  background-size: 2.25em;
  z-index: -5;
  filter: blur(.1em);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h4 { font-size: 1.3em; }

.clear {
  clear: both;
}
.redText {
  color: $FgSpecial;
}
