@import 'definitions';
@import "feature/popup";
@import "feature/ui";

@import "structure";
@import "room";

html, body {
  margin: 0;
}
body {
  font-family: Lato, sans-serif;
  color: $FgInterface;
  background-color: $BgPrimary;
  letter-spacing: .05em;
  font-weight: 300;
  @include breakpoint(lowres) { font-size: $FsDesktop; }
  @include breakpoint(hires portrait) { font-size: $FsPortrait; }
  @include breakpoint(hires landscape) { font-size: $FsLandscape; }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h4 { font-size: 1.3em; }

.clear {
  clear: both;
}
.redText {
  color: $FgSpecial;
}
