header div.ChatName {
  float: right;
  padding: .2em 1em;
  font-style: italic;
  color: $FgText;
}

.ChatRoot {
  overflow: hidden;
  div.EntriesContainer {
    width: 100%;
    height: calc(100vh - 5.8em - .2em);
  }
  input.ChatInput {
    box-sizing: border-box;
    width: calc(100% - 2px - 5.6em);
    padding: .2em .5em;
    margin-left: .3em;
    border: 1px solid $FgInterface;
    border-radius: .7em;
    &:focus {
      border-color: $FgFocus;
    }
  }
  button.ChatSend {
    box-sizing: border-box;
    width: 5em;
    height: 1.4em;
    background: none;
    border: none;
    &:focus {
      color: $FgFocus;
    }
  }
}

.DetailsRoot {
  //
}
