
#Banner {
  text-align: center;
}

.SlideIn {
  @keyframes slideInAnimation {
    0%   {bottom: -2vh; opacity: 0; };
    100% {bottom: 0; opacity: 1; };
  }
  position: relative;
  animation: slideInAnimation ease-out .3s;
}

#SectionLanding {
  form { @include breakpoint(lowres wide) {
    width: 50%;
    float: left;
  }}
  div {
    text-align: center;
  }
}

#SectionRoom {
  #RoomList {
    .listing {
      border-bottom: 1px solid $FgInactive;
      margin: .75em 0;
      transition: border .3s ease;
      button {
        display: block;
        float: right;
        margin: 0;
      }
      &:hover {
        border-bottom: 1px solid $FgInterface;
      }
    }
    #RoomListHeader {
      .text { float: left; }
      button { float: right; margin: 0; }
    }
  }
}
