/* UNIVERSAL */
button {
  display: block;
  background: #963059;
  border: 0px;
  margin: 5px auto;
  color: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  background-attachment: local;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


/* SMALL SCREEN PORTRAIT */
@media only screen and (min-resolution: 120dpi) and (orientation: portrait) {
  button {}
}


/* SMALL SCREEN LANDSCAPE */
@media only screen and (min-resolution: 120dpi) and (orientation: landscape) {
  button {}
}


/* LARGE SCREEN */
@media only screen and (max-resolution: 119dpi) {
  button {
    padding: 8px 15px;
    width: 150px;
    transition: background .3s;
    border-radius: 2px;
  }
  button:hover {
    background-color: #B7004F;
    cursor: pointer;
  }
  button:focus {
    background-color: #C13E74;
    outline: 0;
  }
  button::-moz-focus-inner { border: 0; }
}
