/* UNIVERSAL */
html {
  margin: 0;
}
body {
  margin: 0;
  background-color: #1C1C1C;
  /* background-color: #1C1219;
  background-image: radial-gradient(#331029, #1C1219, #131313); */
  background-image: linear-gradient(0deg, #331029, #1C1219, #131313);
  background-attachment: fixed;
  background-position: center;
  color: #FFF;
  font-family: 'Lato', 'Verdana', sans-serif;
  text-align: center;
}
a {
  text-decoration: underline;
  color: inherit;
}
h1, h2, h3, h4, h5 { font-weight: 100; }
h1 { font-size: 3.5em; margin: 10vh 0px 15px; }
h2 { font-size: 2em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
p { margin: 10px 0px; }
.clear {
  clear: both;
}
input[type="text"], input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin: 5px auto;
  border: 0px;
  border-radius: 2px;
  transition: background .3s;
  transition: opacity .3s;
  font-size: inherit;
  text-align: inherit;
  letter-spacing: inherit;
  color: inherit;
}

#CookiesNote {
  opacity: .5;
  font-size: .85em;
  margin: auto;
  position: fixed;
  bottom: 1.1em;
  left: 5%;
  width: 90%;
}
#VersionLogin {
  position: absolute;
  right: 5px;
  top: 10px;
  opacity: .25;
  font-size: .8em;
}
.DeveloperNotes {
  background: #0004;
  padding: 10px;
  font-family: 'Courier New', monospace;
  text-align: left;
  width: 70%;
  max-width: 800px;
  margin: auto;
}

/* SMALL SCREEN PORTRAIT */
@media only screen and (min-resolution: 120dpi) and (orientation: portrait) {
  html, body {
    font-size: 1.5em;
  }
}


/* SMALL SCREEN LANDSCAPE */
@media only screen and (min-resolution: 120dpi) and (orientation: landscape) {
  html, body {
    font-size: 1.25em;
  }
  #CookiesNote {
    position: static;
    opacity: 1;
    width: 100vw;
    padding-bottom: 10px;
  }
  #LoginAbout {
    padding-bottom: 50px;
  }
}


/* LARGE SCREEN */
@media only screen and (max-resolution: 119dpi) {
  /* @keyframes AnimBodyBackground {
    0%   { background-size: 100% 100%; }
    50%  { background-size: 175% 175%; }
    100% { background-size: 100% 100%; }
  } */
  body {
    font-size: 1.08em;
    /* animation: AnimBodyBackground 4.5s ease infinite; */
    letter-spacing: 0.05em;
    overflow-y: hidden;
  }
  @keyframes AnimSectionSlideIn {
    0%   {opacity: 0; transform: translateY(-30px);}
    50%  {opacity: .1; transform: translateY(-15px);}
    100% {opacity: 1; transform: translateY(0);}
  }
  .SectionHeader {
    margin-bottom: 80px;
  }
  section {
    font-size: .9em;
    width: 100%;
    margin: 0px;
    padding: 0px;
    animation: AnimSectionSlideIn .3s ease-out;
  }
}
