
#Header {
  background-color: #0004;
  text-align: left;
  margin: 0px;
  padding: 5px;
  height: 1.5em;
}
#Welcome {
  display: inline-block;
  margin: 0px 2px;
}
#Header button {
  float: right;
  padding: 0px;
  width: 50px;
  height: 100%;
  margin: 0px 2px;
}

/* IMAGES IN BUTONS */
#ButtonHome { background-image: url('../images/home.png'); }
#ButtonAccount { background-image: url('../images/profile.png'); }
#ButtonAbout { background-image: url('../images/about.png'); }
#ButtonLogout { background-image: url('../images/logout.png'); }
