/* UNIVERSAL */
#LoginUsername, #LoginPassword { color: #000; }

/* SMALL SCREEN PORTRAIT */
@media only screen and (min-resolution: 120dpi) and (orientation: portrait) {
  #LoginUsername, #LoginPassword {
    padding: 24px 2px;
    width: 80vw;
  }
  #SectionLogin button, #SectionHome button {
    width: calc(80vw / 2 - 2px);
    padding: 24px 0px;
  }
  #SectionLogin button, #SectionHome button { display: inline; }
  #SectionLogin div { margin-bottom: 20px; }
}


/* SMALL SCREEN LANDSCAPE */
@media only screen and (min-resolution: 120dpi) and (orientation: landscape) {
  #LoginUsername, #LoginPassword {
    padding: 14px 2px;
    width: 80vw;
  }
  #SectionLogin button, #SectionHome button {
    width: calc(80vw / 2 - 2px);
    padding: 14px 0px;
  }
  #SectionLogin button, #SectionHome button { display: inline; }
  #SectionLogin div { margin-bottom: 20px; }
}


/* LARGE SCREEN */
@media only screen and (max-resolution: 119dpi) {
  #LoginUsername, #LoginPassword {
    padding: 8px 2px;
    width: 60vw;
  }
  #SectionLogin button, #SectionHome button {
    width: calc(60vw / 2 - 2px);
    padding: 8px 0px;
  }
  #SectionLogin button, #SectionHome button { display: inline; }
  #SectionLogin div { margin-bottom: 20px; }
  @media only screen and (min-width: 1000px) {
    #LoginUsername, #LoginPassword { width: 50vw; }
    #SectionLogin button, #SectionHome button { width: calc(50vw / 2 - 2px); }
  }
  @media only screen and (min-width: 1300px) {
    #LoginUsername, #LoginPassword { width: 40vw; }
    #SectionLogin button, #SectionHome button { width: calc(40vw / 2 - 2px); }
  }
  @media only screen and (min-width: 1600px) {
    #LoginUsername, #LoginPassword { width: 30vw; }
    #SectionLogin button, #SectionHome button { width: calc(30vw / 2 - 2px); }
  }
}
