
div.room {
  font-size: .9em;
  text-align: left;
  margin: 8px 4px;
  padding: 5px;
  background: #603848;
  background-image: linear-gradient(0deg, #7F2A6A, #601F4F);
  opacity: .85;
  transition: .25s;
  border-radius: 2px;
  width: calc(20% - 8px);
  float: left;
  box-sizing: border-box;
}
div.room:hover {
  opacity: 1;
}

@media only screen and (max-width: 1900px) {
  div.room { width: calc(25% - 8px); }
}
@media only screen and (max-width: 1500px) {
  div.room { width: calc(33% - 8px); }
}
@media only screen and (max-width: 1100px) {
  div.room { width: calc(50% - 8px); }
}
@media only screen and (max-width: 850px) {
  div.room { width: calc(100% - 8px); }
}

div.room div.left {
  float: left;
  padding-bottom: 3px;
}
div.room div.right {
  float: right;
  opacity: .45;
  font-size: .85em;
}

div.room td {
  padding: 3px 10px;
}
div.room p {
  width: calc(170px + 19px + 19px);
  margin: auto;
}
div.room a {
  width: 170px;
  background: #3D1433;
}
div.room a:hover {
  background: #60004A;
}
