
#PopupsContainer {
  position: absolute;
  top: calc(35px + 3em);
  right: 5px;
  width: 30%;
  min-width: 300px;
  z-index: 100;
}

.popup {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #666;
  background: #333E;
  margin-bottom: 5px;
}
/* LARGE SCREEN */
@media only screen and (max-resolution: 119dpi) {
  @keyframes AnimPopupSlideIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  .popup {
    animation: AnimPopupSlideIn .5s ease;
  }
}

.popupClose {
  display: inline-block;
  position: absolute;
  top: 3px; right: 3px;
  padding: 2px 9px;
  font-size: .8em;
  background: #F008;
  transition: .25s ease;
}

.popupClose:hover {
  background: #F00;
}
