p.property {
  font-weight: bold;
}

#SectionRoom .content {
  float: right;
  box-sizing: border-box;
  padding: 5px;
  margin: 3px 4px;
}
#ChatContent, #RoomControls {
  height: calc(100vh - 250px - 2.7em);
}
@media only screen and (min-width: 800px) {
  #RoomControls { width: calc(30% - 8px); }
  #RoomChat { width: calc(70% - 8px); }
}
@media only screen and (max-width: 799px) {
  #SectionRoom .content { width: calc(100% - 8px); }
  #ChatContent { height: calc(100vh - 250px - 2.7em - 160px);}
  #RoomControls { height: auto; }
}



/* USER SLOTS */
.userSlot {
  /**/
}
.empty {
  opacity: .5;
}
.ready {
  /**/
}


/* CHAT */

#ChatContent {
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
  border: 0px;
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  scroll-behavior: smooth;
  overflow-y: scroll;
  text-align: left;
}
#ChatInput {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #666;
  padding: 3px;
  font-family: inherit;
  font-size: inherit;
}
#ChatInput, #ChatContent, #RoomControls {
  background: #1E1E1E80;
  color: #FFF;
}
.chatTime {
  color: #FFF7;
  margin-right: 7px;
}
.chatEntry {
  word-wrap: break-word;
  padding: 4px;
  margin: 3px;
  border-radius: 1px 10px 10px 1px;
}
.announcement {
  background: #4444;
  border: 1px solid #666;
}
.chatEntry a {
  text-decoration: underline;
}
.typing {
  opacity: .5;
}
.typing .chatTime {
  opacity: .1;
}
