@media only screen and (max-resolution: 119dpi) {
  @keyframes bodyBackgroundAnimation {
    0%   { background-size: 100% 100%; }
    50%  { background-size: 175% 175%; }
    100% { background-size: 100% 100%; }
  }
  html, body {
    animation: bodyBackgroundAnimation 4.5s ease infinite;
  }
}
